body {
  color: black;
  background-color: white;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  
}

h2 {
  font-size: 20px;
  p.double {border-style: double;}
}

p {
  font-size: 12px;
  color: black;
}

div.style {
  border-style: dotted;
  border-width: 2px;
}


div.height {
  width: 100px;
  height: 100px;
}

ol {
  list-style-type: lower-alpha;
}

ul {
  list-style-type: square;
}

h2 {
  color: black;
}
