body {
  color: #173F5F;
  background-color: #f6d55c;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 12px;
  color: #173F5F;
}

div.style {
  border-style: dotted;
  border-width: 2px;
}


div.height {
  width: 100px;
  height: 100px;
}

ol {
  list-style-type: lower-alpha;
}

ul {
  list-style-type: square;
}

h2 {
  color: white;
}
